body { 
    margin: 0; 
    display: flex;
    flex-direction: column;
    font-family: Roboto; 
}

a {
    text-decoration: none;
    color: #E5E7EB;
}

button {
    background-color: #3882F6;
    border-radius: 4px;
    padding: 4px 12px;
    color: #F9FAF8;
    /*border doesn't blend in */
}

.introduction, .benefits,
.testimonial, .action {
    padding: 8px 100px;
    flex: 1;
    
}

.introduction {
    background-color: #1f2937;
    color: #F9FAF8;
    display: flex;
    flex-direction: column;
}

.intro-content {
    display: flex;
    gap: 20px;
}
.sussy-intro {
    flex: 1;
}
.icon { 
    flex: 1;
}

.subtext, .navlinks {
    color: #E5E7EB;
}

.title {
    font-size: 48px;
    font-weight: 700;
    text-align: center;
    
}
.benefits-content {
    display: flex;
    justify-content: space-around;
    text-align: center;
    margin-top: 20px;
}

.benefit img {
    width: 200px;
    max-height: 200px;
    border: 4px solid;
    border-color: #3882F6;
    border-radius: 4px;
}


.testimonial{
    padding: 40px 100px;
    background-color:  #E5E7EB;
    
}
.quote {
    font-size: 24px;
    text-align: center;
}
.credit {
    text-align: end;
    font-weight: 500;
}

header {
    display: flex;
    justify-content: space-between;   
}
header img {
    flex: 0 1 auto;
    width: 50px;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    background-color: #1f2937;
    color: #F9FAF8;
}