body { 
    margin: 0; 
    display: flex;
    flex-direction: column;
    font-family: 'Roboto', sans-serif; 
}

a {
    text-decoration: none;
    color: #E5E7EB;
    padding-left: 8px;
}

button {
    background-color: #3882F6;
    border-radius: 4px;
    padding: 4px 12px;
    color: #F9FAF8;
    /*border doesn't blend in */
}

.introduction, .benefits,
.testimonial, .action {
    padding: 50px 100px;
    flex: 1;
}

.introduction {
    background-color: #1f2937;
    color: #F9FAF8;
    display: flex;
    flex-direction: column;
    padding-top: 0px
}

header {
    display: flex;
    justify-content: space-between;   
}
header img {
    flex: 0 1 auto;
    width: 50px;
}
.intro-content {
    display: flex;
    gap: 20px;
    padding: 30px 0;
    justify-content: space-between;
}
.sussy-intro {
    flex: 1;
    display: flex;
    flex-direction: column;
}


.sussy-intro button {
    width: 100px;
}

.intro-content img { 
    flex: 1;
}

.subtext, .navlinks {
    color: 	#D3D3D3;
}

.subtext {
    margin: 10px 0;
}

.title {
    font-size: 48px;
    font-weight: 700;
    text-align: center;
    
    
}
.benefits-content {
    display: flex;
    justify-content: space-around;
    text-align: center;
    margin-top: 20px;
}

.benefit img {
    width: 200px;
    max-height: 200px;
    border: 4px solid;
    border-color: #3882F6;
    border-radius: 4px;
}


.testimonial{
    padding: 40px 100px;
    background-color:  #E5E7EB;
    text-align: center;
}
.quote {
    font-size: 24px;
}
.credit {
    font-weight: 500;
}

.action {
    margin: 50px 300px;
    padding: 20px 50px;
    display: flex;
    justify-content: space-between;
    background-color: #3882F6;
    border-radius: 8px;
}

.action button {
    border-color: white;
    padding: 4px 10px;
    white-space: nowrap;
    height: 3rem;
}

.action .text {
    color: white;
}
footer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    background-color: #1f2937;
    color: #F9FAF8;
}